.nav {
  background-color: #0EA5E9; 
  display: flex;
  padding: 15px;
  justify-content: space-around;
  font-family: 'Nunito Sans', sans-serif;
}

.nav li {
  list-style: none;
  color: #FFFFFF;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.nav li:hover {
  background-color: #06B6D4;
  color: #FFFFFF;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  gap: 2rem;
  margin: 4rem auto;
}

.main .text {
  transform: translateY(-120px);
}

.main .text h1 {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(90deg, #0596d9, #28dffb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}

.main .text p {
  color: #1E293B;
  font-size: 1.25rem;
  margin-top: 15px;
}

.sectionTitle {
  text-align: center;
  margin: 4rem auto;
  font-size: 2.5rem;
}

.sectionTitle:nth-of-type(1){
  color: #0EA5E9;
}

.sectionTitle:nth-of-type(2){
  color: rgb(255, 174, 0);
}

.section {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section > * {
  width: 30%;
  text-align: center;
}

@media (max-width: 1024px) {
  .main .text h1 {
    font-size: 2.5rem;
  }
  .main .text p {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    margin: 2rem auto;
  }
  .main .text {
    transform: translateY(0);
  }

  .section {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .main .text h1 {
    font-size: 2rem;
  }
  .main .text p {
    font-size: 1rem;
  }
  .sectionTitle {
    font-size: 2rem;
  }
}